@import '../base/base';
@import '../base/breakpoints';

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: $regular-font;
	color: $white;
	font-family: $font-family-inter;
	background-color: $dark-blue;
}

.text-primary {
	color: $violet !important;
}

.attribution {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: $white;
	padding: 10px;

	a {
		color: $violet;
	}
}